.container {
  width: 250px;
}

.container div {
  text-align: center;
  padding: 0.8rem;
  background-color: brown;
}

nav div.active {
  background-color: blue;
}

.container a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  
}

/*
.container div:hover a{
    color: yellow;
    cursor: pointer;
    background-color: aquamarine;
}

*/

.container div:hover {
  color: yellow;
  cursor: pointer;
  background-color: aquamarine;
}
