:root {
  --color1: pink;
  --color2: rgb(181, 86, 86);
  --color3: white;
}

.container {
  width: 50%;
  height: 50%;
}

.container .kutu {
  display: flex;
}

.container .kutu div:first-child {
  background-color: var(--color1);
  flex: 2 1 20%;
}

.container .kutu div:last-child {
  background-color: var(--color2);

  flex: 2 1 80%;
}

.container .baslik {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;

  margin: 20px;
  flex-wrap: wrap;
}

.container .baslik div:first-child {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.container .baslik span {
  background-color: var(--color1);
  padding: 0.5rem 1rem;
  border-radius: 50%;
  font-size: 3rem;
  text-align: center;
  flex: 0 1 auto;
  color: var(--color3);
  font-weight: 900;
}

.container .baslik h1 {
  font-weight: bold;
  flex: 1 1 auto;
}

.container p {
  font-size: 1.3rem;
}
