* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color1: purple;
  --color2: white;
  --color3: rgb(187, 187, 187);
}

.login-form {
  display: flex;
  padding: 20px;
  width: 50%;
  height: 80vh;

  background-color: var(--color1);
  flex-wrap: wrap;
  flex: 1 1 300px;


}

.login-form .form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--color3);
  padding: 30px;
 border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
flex-wrap: wrap;
  flex: 2 1 200px;
  gap: 20px; 
}

.login-form .form .sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.login-form .image {
  background-image: url(../img/form-resim.jpg);
  flex: 1 1 300px;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* flex-wrap: wrap;*/
}

.login-form .form .btn {
  padding: 10px 20px;
  background-color: var(--color1);
  color: var(--color2);
  border-radius: 8px;
}


button{

  margin-top: 20px;

}

