:root {
  --color1: rgb(232, 240, 220);
  --color2: rgb(68, 153, 68);
}

.title {
  color: var(--color2);
}

.about {
  background-color: var(--color1);
}

mark {
  background-color: var(--color2);
}
