:root {
  --color1: aqua;
  --color2: #FBB040;
  --color3: rgb(78, 78, 78);
}

body {
  font-family: "Roboto", sans-serif;
}

section.topbar {
  background-color: var(--color3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: white;
  
}

section.menubar ul,
section.topbar ul{

   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   gap: 10px;
   flex: 0 1 300px;
   flex-wrap: wrap;
}


section.topbar ul a{

    color: var(--color2);
    text-decoration: none;
}


section.menubar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.803);
    z-index: 1;
    

}

section.menubar img{

    width: 300px;
    height: auto;
    
   

    
}

section.menubar ul a{

    text-decoration: none;
    background-color: var(--color2);
    color: var(--color3);
    padding: 5px 10px;
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
}

section.menubar ul a:hover{
    background-color: var(--color1);
}

section.slider{

    background-image: url(../img/nature.jpg);
height: 300px;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
position: relative;


}

section.slider h2{

    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: 900;
    text-shadow: 0 0 20px var(--color3);

}

.whatsapp{

    font-size: 3rem;
    position: fixed;
    right: 20px;
    bottom: 20px;
background-color: rgb(9, 104, 47);
color: white;
border-radius: 50%;
width: 60px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
}


