h1 {
  font-size: 3rem;
  color: chartreuse;
  text-align: center;
}

.about {
  text-align: center;
  padding: 1rem;
}

a{

    text-decoration: none;
}

a:hover{

    background-color: blueviolet;
    color: aliceblue;
}